.div {

    border: 2px solid rgba(5, 77, 5, 0.538);
    
    width: 200px;
    margin: 0;

    font-size: 8px;
    padding: 8px;
    margin: 14px;
    border-radius: 6px;
    background-color: rgb(40, 33, 33);

}
img {
    width: 100%;
    border-radius: 20px;
    padding: 5px;
}

.link{

    text-decoration: none;
    color: gray;

}


/* 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    border-radius: 5px;
margin: 10px;
padding: 5px;
background-color: aquamarine;



} */
